<main class="capsule">
  <app-mast-head></app-mast-head>
  <div class="contain">
    <app-sidebar
      [inputmax]="150"
      [priceRange]="150"
      (rangeChange)="rangeChanged($event)"
    >
      <app-switch
        (ontoggled)="ontoggled($event)"
        [isChecked]="($filter | async)?.showOnlySale || false"
      ></app-switch>
    </app-sidebar>
    <div class="content" tag="section">
      <app-product-item
        *ngFor="let item of $products | async"
        (cartAdd)="addToCart($event)"
        [product]="item"
      ></app-product-item>
    </div>
  </div>
</main>
